<div class="header">
  <div class="brand-section">
    <img class="brand-logo" src="/brand-logo.svg" alt="Brand">
    <div class="brand-name">
      <div class="title">RX_TX</div>
      <div class="subtext">clubhouse</div>
    </div>
  </div>
  <div class="nav">
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/log-in">Login</a>
  </div>
</div>