<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RXTX - Become Admin</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>

<body>
  <%- include("./partials/header") %>
    <div class="content-container">
      <div class="form-container">
        <div class="title">
          Enter Admin Code
        </div>
        <% if(locals.errors) {%>
          <%- include("./errors/errors") %>
            <% } %>
              <form action="/admin/code" method="POST">
                <div class="input-container">
                  <input type="text" name="code" placeholder="Secret Code" required>
                </div>
                <div class="form-button-container">
                  <div style="flex:1"></div>
                  <div class="button-group">
                    <input type="reset" value="Reset" class="reset-button">
                    <input type="submit" value="Submit" class="submit-button">
                  </div>
                </div>
              </form>
      </div>
    </div>
</body>

</html>