<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RXTX Clubhouse</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("./partials/header") %>
    <div class="content-container">
      <div class="content">
        <div class="welcome-banner">
          <div class="greeting-section">
            <div class="greeting">Welcome, <%= currentUser?.firstName %>!</div>
            <div class="subtext">Join a club to become a member.</div>
          </div>
          <a class="banner-button" href="/membership/code">
            Get Membership
        </div>
      </div>
    </div>
    </div>
</body>

</html>