<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RXTX - Login</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("./partials/header") %>
    <div class="content-container">
      <div class="form-container">
        <div class="title">
          Login
        </div>
        <form action="/auth/log-in" method="POST">
          <div class="input-container">
            <input type="email" name="email" placeholder="E-Mail">
          </div>
          <div class="input-container">
            <input type="password" name="password" placeholder="Password">
          </div>
          <div class="form-button-container">
            <div style="flex:1"></div>
            <div class="button-group">
              <input type="reset" value="Reset" class="reset-button">
              <input type="submit" value="Submit" class="submit-button">
            </div>
          </div>
        </form>
      </div>
    </div>
</body>

</html>