<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RXTX - New Post</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("./partials/header") %>
    <div class="content-container">
      <div class="form-container">
        <div class="title">
          New Post
        </div>
        <% if(locals.errors) {%>
          <%- include("./errors/errors") %>
            <% } %>
              <form action="/post/new" method="POST">
                <div class="input-container">
                  <input type="text" name="title" placeholder="Title" value="<%= oldData?.title %>">
                </div>
                <div class="input-container">
                  <textarea name="body" placeholder="Write something..."><%= oldData?.body %></textarea>
                </div>
                <div class=" form-button-container">
                  <div style="flex:1"></div>
                  <div class="button-group">
                    <input type="reset" value="Reset" class="reset-button">
                    <input type="submit" value="Submit" class="submit-button">
                  </div>
                </div>
              </form>
      </div>
    </div>
</body>

</html>