<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RXTX - Unauthorized</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>

<body>
  <%- include("./partials/header") %>
    <h2 class="error-page-prompt">Unauthorized <span class="fourofour">User</span> | Access Denied</h2>
</body>

</html>