* {
  box-sizing: border-box;
  color: #f4f4f4;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("./Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./Poppins-Light.ttf") format("truetype");
}

body {
  background-color: #191919;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #252525;
  border-bottom: 1px solid #0A0A0A;
  padding: 0.675rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .brand-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header .brand-logo {
  height: 2.5rem;
}

.header .brand-name {
  margin-left: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

.header .brand-name .title {
  font-family: "Poppins-Bold";
  font-size: 1.125rem;
}

.header .brand-name .subtext {
  font-family: "Poppins-SemiBold";
  color: #c2c2c2;
  font-size: 0.75rem;
}

.header .nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-family: "Poppins-SemiBold";
  margin-right: 0.5rem;
}

.error-page-prompt {
  text-align: center;
  font-family: "Poppins-Light";
  margin-top: 6rem;
  color: #c2c2c2;
}

.error-page-prompt .fourofour {
  color: #f4f4f4;
  font-family: "Poppins-Regular";
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 700px;
  margin-top: 5rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width:750px) {
  .form-container {
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.form-container .title {
  font-family: "Poppins-Bold";
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.input-container {
  background-color: #272727;
  border: 1px solid #2f2f2f;
  padding: 0.375rem;
  border-radius: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-container:focus-within {
  background-color: #2f2f2f;
}

input,
textarea {
  flex: 1;
  border-radius: 0.5rem;
  outline: none;
  background-color: #1D1D1D;
  border: none;
  padding: 0.25rem 1rem;
  color: #f5f5f5;
  font-size: 1.08rem;
  font-family: "Poppins-Regular";
}

.form-container .admin-checkbox-section {
  font-family: "Poppins-Regular";
  accent-color: #f4f4f4;
  margin-top: 0.75rem;
}

.admin-checkbox-section label {
  margin-right: 0.5rem;
}

.admin-checkbox-section input {
  scale: 1.25;
}

.form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form-button-container .button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.submit-button {
  background-color: #4165C8;
  border: 1px solid #2D2D2D;
  border-radius: 0.5rem;
  font-family: "Poppins-Medium";
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
}

.reset-button {
  background-color: #272727;
  border: 1px solid #2D2D2D;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  font-family: "Poppins-Medium";
}